* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: "Nunito", sans-serif;
  color: #222222;
}
.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 10px;
}
@media (max-width: 960px) {
  .container {
    margin-inline: 20px;
  }
}
