.footer-bg {
  background: #2c70ff;
  padding: 40px 0;
}
.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer ul li + li {
  margin-top: 8px;
}

@media (max-width: 400px) {
  .contact-footer,
  .info-footer {
    margin-top: 2rem;
  }
}
